*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: #091921;
}
.icons li{
    position:relative;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    height: 70px;
    width: 70px;
    background: #091921;
    box-shadow: -1px -1px 3px rgba(225,225,225,0.1),
                -2px -2px 6px rgba(0,0,0,0.8);
    border-radius: 50%;
}


.icons li.active:before{
    position:absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 55px;
    background: #091921;
    box-shadow:inset -1px -1px 3px rgba(225,225,225,0.1),
                inset -2px -2px 6px rgba(0,0,0,0.8);
    border-radius: 50%;

}

.icons li a{
    color: #b6bbc5;
    font-size: 27px;
    width: 100px;
    line-height: 70px;
    position: relative;
    z-index: 2 ;
}




.icons li.active a{
    color: cyan;
    font-size: 25px;
}